<!DOCTYPE html>
<html lang="en">
<%- include('common/header') %>
<body class="is-theme-core">
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <!-- Hero and Navbar -->
    <div class="hero is-default is-bold is-fullheight">
        <%- include('common/nav') %>
        
          <%- include('common/hero-body') %>
        <%- include('common/clients-logo') %> 
     
    </div>
    <%- include('common/side-features') %>
    <%- include('common/app-showcase') %>
    <%- include('common/side-features-2') %>
    <%- include('common/teams') %>
    <%- include('common/clients') %> 
    <%- include('common/testimonials') %> 
    <%- include('common/contacts') %> 
    <%- include('common/footer') %>
    <%- include('common/side-navigation') %>
    <%- include('common/back-to-top') %>
    <%- include('common/theme') %>
    <%- include('common/chat') %>
    <%- include('common/js') %>
</body>
</html>